/* Define css variables */
:root {
    --primary-color: #161b22;
    --secondary-color: #0d1117;
    --accent-color: #a0a0a0;
    --accent-color-light: #fff;
  }
  
  /* Define global styles */
  html {
    background-color: #0d1117;
   color: white;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0d1117;
  }
  
  main {
    flex: 1;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--accent-color-light);
    background-color: darkgrey; 
  }

  footer {
    background-color: var(--primary-color);
    padding: 1rem;
    border-top: 1px solid #30363d;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-height: calc(100vh - 49px - 84px);
  }

    .card-outer {
    width: 100%;
    height: 300px;
    background-image: url();
    background-size: 100%;
    background-repeat: no-repeat
    }
    
  .list-container {
    background-color: #0d1117;
    width: 30%;
    padding: 1rem;
    /* overflow-y: auto; */
  }
  
  h1{
    text-align: center;
    padding: 10px;
  }
  .card {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #30363d;
  }
  
  .card .card-header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .card .card-header .card-title {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--accent-color-light);
    margin: 0;
    margin-bottom: 0.25rem;
    text-decoration: none;
  }
  
  .card .card-header .card-subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
  }
  
  .card .card-header .card-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--accent-color);
  }
  
  .card .card-header .card-subtitle.line-2 {
    color: white;
  }
  
  .card.linked {
    position: relative;
  }
  
  .card.linked a.link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }

  
  